/* https://dribbble.com/shots/6702982-Chatbot */

$fontcolor: #ffffff;
$fontcolor-secondary: #eeeeee;

* {
    margin: 0;
    padding: 0;
}

h2 {
    padding: 20px;
    color: $fontcolor;
    font-family: arial, sans-serif;
    font-size: 1.5rem;
}

p {
    color: $fontcolor-secondary;
    font-family: helvetica, sans-serif;
    font-size: 1.1rem;
}

div {
    font-size: 20px;
}

.App {
    width: 100%;
    margin: auto;
    background-color: rgb(31, 31, 31);
    display: flex;
}

.roomlist {
    background-color: rgb(36, 36, 36);
    min-width: 20rem;
}

.rooms {
    background-color: rgb(78, 78, 78);
    margin: 1rem;
    padding: 0.2rem;
    border-radius: 5px;
}

.room {
    margin: 0.8rem;
    display: flex;
    justify-content: space-between;
}

