/* https://dribbble.com/shots/6702982-Chatbot */

$fontcolor: #ffffff;
$fontcolor-secondary: #ffffff;
$font-color-inactive: #969696;
$window-margin: 1rem;

$background-primary: rgb(22, 22, 22);
$background-secondary: rgb(32, 32, 32);
$background-tertiary: rgb(56, 56, 56);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


h2 {
    padding: 20px;
    color: $fontcolor;
    font-family: arial, sans-serif;
    font-size: 1.3rem;
    margin: 0;
}

p {
    color: $fontcolor-secondary;
    font-family: helvetica, sans-serif;
    font-size: 0.9rem;
    vertical-align: middle;
    margin: auto 0;
}

div {
    font-size: 20px;
}

.btn {
    width: 6rem;
    padding: .2rem .5rem;
}

.App {
    width: 100%;
    height: 100vh;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.header {
    width: 100%;
    height: 4rem;
    background-color: $background-primary;
}

.roomlist {
    background-color: $background-secondary;
    width: 20rem;
    height: calc(100% - 4rem);
}

.rooms {
    background-color: $background-primary;
    margin: 0 $window-margin $window-margin;
    border-radius: 5px;
}

.roomheader {
    height: 2rem;
}

.room {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0.5rem 0.8rem;
    margin: -0.2rem 0;
}

.room.active {
    font-weight: bold;
    background-color: rgb(77, 77, 77);
}

.room.inactive p {
    color: $font-color-inactive;
    font-size: 0.9rem;
}

.messagedisplay-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.notificationbox {
    position: absolute;
    height: 2rem;
    right: $window-margin;
    left: $window-margin;
    background-color: black;
    opacity: 0.85;
    color: rgb(228, 228, 228);
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.messages {
    margin: $window-margin;    
    background-color: $background-tertiary;
    height: calc(100vh - 11rem);
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.chatinput {
    margin: $window-margin;
    display: flex;
    height: 4rem;
    font-size: 1.2rem;
}

.chatinput > .input {
    width: 100%;
    padding: 1rem;
    background-color: rgb(241, 241, 241);
    border: 0;
    border-radius: 5px;
    
    &:disabled {
      background-color: rgb(207, 207, 207);
    }
}

.chatinput > .button {
    width: 5rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.userdisplay {
    width: 14rem;
    background-color: $background-secondary;
}

.msg {
    color: white;
    width: 100%;
    padding: 0.8rem 0.8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.currentuser {

}

.currentuser > .messageblob {
    background-color: #14a800;
}

.username {
   font-size: 0.8rem;
}

.messageblob {
    font-size: 1rem;
    background-color: #00a2ff;
    display: inline-block;
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
}

.hidden {
    visibility: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #aaaaaa;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(97, 97, 97);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }